body {
    margin: 0;
    padding: 15px;
    background-color: #FFC107;
}


.mainPage {
	margin-top: 20px;
	padding-top: 45px;
	background-color: #FFC107;
	 width: 100%;
	 height: auto;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-family: 'Sedgwick Ave Display', cursive;
	font-family: 'Indie Flower', cursive;
	font-size: 350%;
	text-align: center;
	color:#ff0363;
	padding-top: 25px;
	font-weight: bold;
}
li {
	padding: 5px;
	margin: 5px;
	width: 50%;
	background: #faebd7;
	text-align: center;
	font-weight: bold;
}
img {
    display: block;
    margin: auto;
    width: 30%;
    height: 45%;
    border: 1px solid red;

}
h5 {
	text-align: center;
	font-weight: bold;
	color: black;
}

textarea{
	width: 40%;
	height: 50px;
	margin-left: 26px;
	margin-bottom: 25px;
	padding: 15px;
	padding-left: 150px;
	border: 2px solid red;
	font-size: 16px;
}
.btn {
	
	width: 37.30%;
}


@media screen and (max-width: 991px){
	.mainPage {
		width: 80%;
	}

} /*end of 991 media px*/

@media screen and (max-width: 767px){
	.mainPage {
		width: 100%;
	}
}
